@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "omyu_pretty";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wanted Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 1000;
  src: local("Wanted Sans ExtraBlack"),
    url("https://farewell-twitch.tv/woff2/WantedSans-ExtraBlack.woff2")
      format("woff2");
}
@font-face {
  font-family: "Wanted Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local("Wanted Sans Black"),
    url("./woff2/WantedSans-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Wanted Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: local("Wanted Sans ExtraBold"),
    url("./woff2/WantedSans-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Wanted Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Wanted Sans Bold"),
    url("./woff2/WantedSans-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Wanted Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local("Wanted Sans SemiBold"),
    url("./woff2/WantedSans-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Wanted Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("Wanted Sans Medium"),
    url("./woff2/WantedSans-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Wanted Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Wanted Sans Regular"),
    url("./woff2/WantedSans-Regular.woff2") format("woff2");
}

:root {
  font-family: "Wanted Sans", sans-serif;
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    font-family: "Wanted Sans", sans-serif;
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

*,
body {
  font-family: "Wanted Sans", sans-serif;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
